In [3]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [4]:
# read data
df_ratings = pd.read_csv("file\\ml-1m\\ratings.dat", sep="::", header=None, names=["UserID", "MovieID", "Rating", "Timestamp"])
df_movies = pd.read_csv("file\\ml-1m\\movies.dat", sep="::", header=None, names=["MovieID", "Title", "Genres"])
df_users = pd.read_csv("file\\ml-1m\\users.dat", sep="::", header=None, names=["UserID", "Gender", "Age", "Occupation", "Zip-code"])

<ipython-input-4-66699cb8c506>:2: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df_ratings = pd.read_csv("file\\ml-1m\\ratings.dat", sep="::", header=None, names=["UserID", "MovieID", "Rating", "Timestamp"])
<ipython-input-4-66699cb8c506>:3: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df_movies = pd.read_csv("file\\ml-1m\\movies.dat", sep="::", header=None, names=["MovieID", "Title", "Genres"])
<ipython-input-4-66699cb8c506>:4: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df_users = pd.read_csv("file\\ml-1m\\users.dat", sep="::", header=None, names=["UserID", "Gender", "Age", "Occupation", "Zip-code"])

In [5]:
df_ratings.shape, df_movies.shape, df_users.shape

((1000209, 4), (3883, 3), (6040, 5))

In [6]:
df_ratings.head()

   UserID  MovieID  Rating  Timestamp
0       1     1193       5  978300760
1       1      661       3  978302109
2       1      914       3  978301968
3       1     3408       4  978300275
4       1     2355       5  978824291

In [7]:
df_movies.head()

   MovieID                               Title                        Genres
0        1                    Toy Story (1995)   Animation|Children's|Comedy
1        2                      Jumanji (1995)  Adventure|Children's|Fantasy
2        3             Grumpier Old Men (1995)                Comedy|Romance
3        4            Waiting to Exhale (1995)                  Comedy|Drama
4        5  Father of the Bride Part II (1995)                        Comedy

In [8]:
df_users.head()

   UserID Gender  Age  Occupation Zip-code
0       1      F    1          10    48067
1       2      M   56          16    70072
2       3      M   25          15    55117
3       4      M   45           7    02460
4       5      M   25          20    55455

In [9]:
# merge data
df_ratings_movies = pd.merge(df_ratings, df_movies, on='MovieID')
df = pd.merge(df_ratings_movies, df_users, on="UserID")
df.head()

,UserID,MovieID,Rating,Timestamp,Title,Genres,Gender,Age,Occupation,Zip-code
0,1,1193,5,978300760,One Flew Over the Cuckoo's Nest (1975),Drama,F,1,10,48067
1,1,661,3,978302109,James and the Giant Peach (1996),Animation|Children's|Musical,F,1,10,48067
2,1,914,3,978301968,My Fair Lady (1964),Musical|Romance,F,1,10,48067
3,1,3408,4,978300275,Erin Brockovich (2000),Drama,F,1,10,48067
4,1,2355,5,978824291,"Bug's Life, A (1998)",Animation|Children's|Comedy,F,1,10,48067

In [10]:
# Delete unnecessary columns
data = df.copy()
data = data.drop(['Timestamp','Genres','Gender','Age','Occupation','Zip-code'], axis=1)
data.head()

   UserID  MovieID  Rating                                   Title
0       1     1193       5  One Flew Over the Cuckoo's Nest (1975)
1       1      661       3        James and the Giant Peach (1996)
2       1      914       3                     My Fair Lady (1964)
3       1     3408       4                  Erin Brockovich (2000)
4       1     2355       5                    Bug's Life, A (1998)

In [12]:
# Recommend 5 most seen movies
def recommend_movie(n):
    movie_rank = data['MovieID'].value_counts()[:n]
    recommend_movies = data.loc[movie_rank.index]
    recommend = recommend_movies['Title']
    return recommend

recommend_movie(5)

2858                Muppet Treasure Island (1996)
260                            Dragonheart (1996)
1196    Close Encounters of the Third Kind (1977)
1210                   Breakfast Club, The (1985)
480                          Shanghai Noon (2000)
Name: Title, dtype: object

In [73]:
# Split train, test set
x = data.copy()
x_train, x_test = train_test_split(x, test_size=0.05)

# dRecommend n most popular movies on a dataset
def popular_movie(dataset, n):
    movie_rank = dataset['MovieID'].value_counts()[:n]
    popular_movies = dataset.iloc[movie_rank.index]
    return popular_movies

# Calculate hitrate@K
def hitrate(K):
    raw_ranking = popular_movie(data, K)
    pred_ranking = popular_movie(x_test, K)
    return raw_ranking['MovieID'].isin(pred_ranking['MovieID']).value_counts(normalize=True)[True]

hitrate(100)

0.06

In [84]:
# Recommend 5 movies with high ratings
def recommend_movie2(n):
    movie_sort = movie_mean.sort_values(ascending=False)[:n]
    recommend_movies = data.loc[movie_sort.index]
    recommendation = recommend_movies['Title']
    return recommendation

movie_mean = data.groupby(['MovieID'])['Rating'].mean()
recommend_movie2(5)

MovieID
3382                        Sneakers (1992)
3172                              Pi (1998)
3607                        Candyman (1992)
3656                       Junk Mail (1997)
3280    Teenage Mutant Ninja Turtles (1990)
Name: Title, dtype: object

In [85]:
# Accuracy calculation
def RMSE(y_true, y_pred):
    return np.sqrt(np.mean((np.array(y_true) - np.array(y_pred))**2))

rmse = []
for user in set(data.index):
    y_true = data.loc[user]['Rating']
    y_pred = movie_mean[data.loc[user]['MovieID']]
    accuracy = RMSE(y_true, y_pred)
    rmse.append(accuracy)
print(np.mean(rmse))

0.7787902185267609

In [91]:
# Split train, test set
x = data.copy()
y = data['UserID']
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.05,stratify=y)

# Accuracy calculation
def RMSE(y_true, y_pred):
    return np.sqrt(np.mean((np.array(y_true) - np.array(y_pred))**2))

# Calculate RMSE by model
def score(model):
    id_pairs = zip(x_test['UserID'], x_test['MovieID'])
    y_pred = np.array([model(user,movie) for (user,movie) in id_pairs])
    y_true = np.array(x_test['Rating'])
    return RMSE(y_true, y_pred)

# Get full matrix with training data
rating_matrix = x_train.pivot(index='UserID', columns='MovieID', values='Rating')

# The default model for calculating forecasts by the overall mean
def best_seller(user_id, movie_id):
    try:
        rating = train_mean[movie_id]
    except:
        rating = 3.0
    return rating

train_mean = x_train.groupby(['MovieID'])['Rating'].mean()
score(best_seller)

0.9765758608443047